<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../css/jquery-ui.min.css" rel="stylesheet"></link>
		<link href="../css/jquery-ui.theme.min.css" rel="stylesheet"></link>
	</head>
	<body ng-app="omsdashboardapp">
		<div ng-controller="OMSDashboardController" ng-init="initworkflowactions()">
			Workflow: <select ng-model="workflow" ng-change="workflowchanged(workflow)" ng-options="workflow for workflow in workflows"></select><br/>
			Action: <select ng-model="action" ng-options="action for action in actions"></select><br/>
			Start Time: <input type="text" name="startDate" ng-model="startDate" jqdatepicker/> &nbsp;&nbsp; <input type="text" name="startTime" ng-model="startTime"/><br/>
			End Time: <input type="text" name="endDate" ng-model="endDate" jqdatepicker/> &nbsp;&nbsp; <input type="text" name="endTime" ng-model="endTime"/><br/>
			Show Stat: Every <input type="text" name="statInterval" ng-model="statInterval"/> &nbsp;&nbsp;
			<select name="statUnit" ng-model="statUnit" value="1">
				<option value="d">DAY</option>
				<option value="h" selected>HOUR</option>
				<option value="m">MINUTE</option>
			</select>
			Show top   <input type="text" name="topN" ng-model="topN" value="5"/> result <br/>
			<input type="button" name="searchAction" value="search actions" ng-click="searchAction()"/>
			<br/>
			<div id="actionchart1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto" histogram chart-title="action status" series-name="action" x-title="TimeLine" y-title='Average Execution Time' chart-data="histodataExecTime"  categories="histoTimeLine">
			</div>
			<div id="topslowlist" topslowlist list-data="workflownodestatistics.topSlowExecutionStats"></div>
		</div>
		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript" src="../js/highchart/highcharts.js"></script>
		<script type="text/javascript" src="../js/highchart/highcharts-3d.js"></script>
		<script type="text/javascript" src="../js/highchart/modules/exporting.js"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../js/dashboard.js"></script>
	</body>
</html>